.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(191, 187, 187);
}

.nav {
  background-color: blue;
}

.nav-link {
  background-color: blue;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: rgba(255, 255, 255, 0.699)
}

.name {
  font-size: 35px;
}

.email {
  font-size: 12px;
}

.bio {
  font-size: 18px;
  line-height: 35px;
  word-spacing: 5px;
  font-weight: 500;
  padding: 20px;
  margin: 0 45px 0 45px;
}

.headshot {
  height: 200px;
  width: 200px;
  margin-top: 50px;
}

.herokubtn {
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 10%;
  margin: 5px;
  cursor: pointer;
}

.herokubtn:hover {
  color: rgba(255, 255, 255, 0.699)
}

.gitbtn {
  padding: 10px;
  background-color: blue;
  color: white;
  border-radius: 10%;
  margin: 5px;
  cursor: pointer;
}

.gitbtn:hover {
  color: rgba(255, 255, 255, 0.699)
}

.project-img {
  height: 300px;
  width: 300px;
  padding: 10px;
}

.footer {
  margin-top: 80px;
}

ul {
  list-style-position: inside;
}

li {
  font-size: 15px;
  font-weight: bold;
  padding: 10px;
}

.welcome-img {
  margin-top: 20px;
}